.mapkey-table {background-color:rgba(0, 0, 0, 0.05);width:600px}
.mapkey_table_icon img{display:block;margin-left:auto;margin-right:auto}
.mapkey_table_icon {width:100px}
.mapkey_heading {font-size: 24px;margin-left:64px}